body {
  margin: 0%;
  padding: 0%;
}

#contentbody {
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgba(207, 149, 82, 0.922) 7%,
    rgb(237, 178, 119) 67%
  );
  width: 100%;
  height: 100vh;
  padding: 0vh;
  margin: 0vh;
}
#header {
  display: flex;
  flex: 1;
  flex-direction: column;
}
#Logo {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}
#filtrecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#bodyfiltre {
  width: 100px;
  height: 30px;
}
#textfiltre {
  display: flex;
  flex-direction: row;
}
#filtre-select{
  width: 100%;
  height: 40px;
  border-radius: 10%;
  background-color: none;
  border: 4px solid;
}
#bodymodeaffichage {
  width: 40px;
  padding: 0%;
}

#contentcarte {
  display: flex;
  flex: 4;
}
#map {
  height: 68vh;
  width: 100vw;
}

#menubarre {
  display: flex;
  flex: 1;
  background: radial-gradient(
    circle,
    rgba(207, 149, 82, 0.922) 7%,
    rgb(237, 178, 119) 67%
  );
  position: fixed;
  top: 89%;
  opacity: 1;
  width: 100%;
  height: 95px;
  border-radius: 15% 15% 5% 5%;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}
.fixed {
  position: fixed;
  top: 310px;
  left: 60px;
  width: 250px;
  border: 2px solid rgb(11, 88, 231);
  text-align: center;
}
#logogeo {
  flex: 1;
}
#logodisct {
  flex: 1;
}
#logousers {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  border: thick double black;
}
.photouserbarre{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
