body {
  margin: 0%;
  padding: 0%;
}

#connexionbody {
  background: radial-gradient(
    circle,
    rgba(207, 149, 82, 0.922) 7%,
    rgb(237, 178, 119) 67%
  );
  width: 100%;
  height: 100vh;
  padding: 0vh;
  margin: 0vh;

  display: flex;
  flex-direction: column;
}

#Logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#Zoneactive {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 90%;
  margin: 2px;
  background: rgba(255, 255, 255, 0.42);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
